* {
    font-family: sans-serif;
}

.validationError { /* selects elements with class='selector'. */
    color: red;
}

.designTacoButton {
    size: 30px;
}

.orderSuccessful { color: red; }
.userColor { color: green; }

h1 {

}
h2 {

}
h3 {

}

p {
    font-family: sans-serif;
}

