<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Taco Cloud</title>
    </head>
    
    <body>
        <h1>Welcome to......</h1>
        <img th:src="@{/images/taco_cloud_alex.PNG}"/>
        <h1>Taco Cloud</h1>
        <a href="/design" style="font-size: 26px;">Design your taco</a>
        <p>Information about the most recent requests made to the Taco Cloud home page:</p>
        <div class="InfoDisplay" id="clientRequestInfoDisplay">
            <div th:each="clientRequestInfo : ${clientRequestsData.requestClientInfoList}">
                <p th:text="${clientRequestInfo}">placeholder message</p>
            </div>
        </div>
    </body>
</html>